<footer class="my-4">
  <div class="footer-left mb-5">
    <div class="mt-3">
      <h5 class="footer-title">Sections</h5>
      <div class="row mt-2">
        <a href="#" class="col-3">Home</a>
        <a href="#" class="col-3">World News</a>
        <a href="#" class="col-3">Analysis News</a>
      </div>
      <div class="row mt-2">
        <a href="#" class="col-3">Local News</a>
        <a href="#" class="col-3">WATCH TV</a>
        <a href="#" class="col-3">Traffic</a>
      </div>
      <div class="row mt-2">
        <a href="#" class="col-3">Entertainment</a>
        <a href="#" class="col-3">English Version</a>
        <a href="#" class="col-3">Chinese (中文) </a>
      </div>
    </div>
    <div class="mt-3">
      <h5 class="footer-title">About Us</h5>
      <div class="row mt-2">
        <a href="#" class="col-3">About</a>
        <a href="#" class="col-3">Contact Us</a>
        <a href="#" class="col-3"></a>
      </div>
    </div>
    <div class="mt-3">
      <h5 class="footer-title">Advertise with us</h5>
      <div class="row mt-2">
        <span class="col-12" style="font-size: 10px">
          Tel: 017 608 006, Email: appfreshnews@gmail.com & Telegram
        </span>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="footer-right mb-5">
    <div class="mt-3">
      <h5 class="footer-title">Follow Our News</h5>
      <div class="row mt-2 d-flex justify-content-between" style="width: 80%">
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/app_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/web_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://image.freshnewsasia.com/web/tv_cannels_icon_v2.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://image.freshnewsasia.com/web/radio_icon_v2.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/fb_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/youtube_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/telegram_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
        <a href="#" class="col-1">
          <img
            src="https://www.freshnewsasia.com/images/language_icon.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
      </div>
    </div>
    <div class="mt-3">
      <h5 class="footer-title">Experience news with our Apps</h5>
      <a href="#">
        <img
          src="https://www.freshnewsasia.com/images/fnappstore.png"
          alt=""
          class="me-4"
        />
      </a>
      <a href="#">
        <img
          src="https://www.freshnewsasia.com/images/fngoogleplay.png"
          alt=""
        />
      </a>
    </div>
    <div class="mt-3">
      <span class="col-12 p-0" style="font-size: 10px">
        Copyright © 2023 FN Media Co.,Ltd.
      </span>
    </div>
    <div class="mt-2">
      <span
        style="
          font-family: Roboto, Arial, sans-serif;
          font-size: 0.875rem;
          line-height: 1.42857;
          letter-spacing: normal;
          text-align: left;
          color: rgba(255, 255, 255, 0.85);
        "
      >
        E0E1-9D STREET 598 RUSSEY KEO PHNOM PENH <br />
        Phnom Penh, Phnom Penh 120705, Cambodia <br />
        Data Center By Fresh News
      </span>
    </div>
  </div>
</footer>
