 #alert-ad {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
 }

 #alert-ad>.img-btn {
   width: 500px;
   height: 300px;
   position: relative;
 }

 .alert-ad-image {
   width: 100%;
   height: 100%;
   position: absolute;
 }

 .close-button {
   position: absolute;
   top: -15px;
   right: -15px;
   width: 35px;
   height: 35px;
   color: #ccc;
   background-color: #3f3f3f;
   border: 2px solid #ccc;
   cursor: pointer;
   border-radius: 50%;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
 }