.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-scroll 70s linear infinite;
}

.art-adsBottom {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10001;
  background: rgba(255, 255, 255, 0);
}

.hits {
  font-size: 14px;
  color: #0f1899;
}

.item-icon {
  width: 18px;
}

.date {
  color: #999;
  font-size: 12px;
}

.paragraph {
  font-size: 14px;
  color: #777777;
  line-height: 170%;
}

.detail-content {
  width: 100% !important;
  margin-right: 8px;
  height: auto;
}

.title>h3 {
  font-size: 20px;
  color: #0f1899;
}

@media screen and (max-width: 1350px) {

  .left,
  .right {
    display: none;
  }

  .middle,
  .middle-content {
    width: 100% !important;
  }
}

@media screen and (max-width: 1040px) {
  .video-and-table {
    margin-right: 0 !important;
  }

  div.ad-content {
    display: none !important;
  }

  .logo-and-ad .ad {
    display: none;
  }
}