.content,
.art-adsBottom {
  width: 100%;
  height: 100%;
  padding: 1.4% 6% 0 6%;
  background: rgb(255, 255, 255) 1a1 !important;
  display: flex;
  justify-content: space-between;
}

.content>.left,
.right {
  width: 12%;
  height: auto;
}

.content>.middle {
  width: 78%;
  margin: 0 3px;
}

.content>.middle>.middle-content {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.logo-and-ad {
  height: 105px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.for-marquee {
  height: 40px;
  padding: 6px 0;
  color: #fff;
  font-size: 19px;
  background: #022059 !important;
  font-weight: bold;
  overflow: hidden !important;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-scroll 160s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.video-and-table {
  width: 100% !important;
  margin-right: 8px;
  height: auto;
}

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

small {
  font-size: 12px !important;
  color: #9ba8ae !important;
  padding: 0;
  margin: 0;
}

.card-text {
  font-size: 14px !important;
}

.card>.card-body .card-text {
  max-width: 270px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
  font-family: "kmReg", "EnReg" !important;
}

.card>.card-body a {
  color: #0f1899 !important;
  width: 270px !important;
  text-decoration: none;
}

.card>.card-body>a:hover {
  color: #002b41 !important;
  text-decoration: underline;
}

.read-more {
  width: 100% !important;
  margin: 18px 0;
  text-align: end !important;
}

.ad-content {
  width: 23% !important;
  height: auto;
  text-align: center;
}

.ad-content>img {
  margin-left: 2px;
  margin-bottom: 2px;
}

.art-adsBottom {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10001;
  background: rgba(255, 255, 255, 0);
}

.art-closeLeft {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 20px;
  background-image: url("https://www.freshnewsasia.com//modules/mod_topstickybanner/img/btn_open_close.png");
  background-repeat: no-repeat;
  right: 5.7%;
  bottom: 90px;
}

.art-closeLeft {
  bottom: 90px;
  background-position: left bottom;
}

@media screen and (max-width: 1350px) {

  .left,
  .right {
    display: none;
  }

  .middle,
  .middle-content {
    width: 100% !important;
  }
}

@media screen and (max-width: 1040px) {
  .video-and-table {
    margin-right: 0 !important;
  }

  div.ad-content {
    display: none !important;
  }

  .logo-and-ad .ad {
    display: none;
  }
}