.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-scroll 160s linear infinite;
}

.video-and-table {
  width: 100% !important;
  margin-right: 8px;
  height: auto;
}

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

small {
  font-size: 12px !important;
  color: #9ba8ae !important;
  padding: 0;
  margin: 0;
}

.card-text {
  font-size: 14px !important;
}

.card>.card-body .card-text {
  max-width: 270px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
  font-family: "kmReg", "EnReg" !important;
}

.card>.card-body a {
  color: #0f1899 !important;
  width: 270px !important;
  text-decoration: none;
}

.card>.card-body>a:hover {
  color: #002b41 !important;
  text-decoration: underline;
}

.read-more {
  width: 100% !important;
  margin: 18px 0;
  text-align: end !important;
}

.art-adsBottom {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10001;
  background: rgba(255, 255, 255, 0);
}

.art-closeLeft {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 20px;
  background-image: url("https://www.freshnewsasia.com//modules/mod_topstickybanner/img/btn_open_close.png");
  background-repeat: no-repeat;
  right: 5.7%;
  bottom: 90px;
}

.art-closeLeft {
  bottom: 90px;
  background-position: left bottom;
}

@media screen and (max-width: 1350px) {

  .left,
  .right {
    display: none;
  }

  .middle,
  .middle-content {
    width: 100% !important;
  }
}

@media screen and (max-width: 1040px) {
  .video-and-table {
    margin-right: 0 !important;
  }

  div.ad-content {
    display: none !important;
  }

  .logo-and-ad .ad {
    display: none;
  }
}