@font-face {
  font-family: "KmReg";
  src: url("../assets/fonts/Hanuman-Regular.ttf");
}

@font-face {
  font-family: "KmBol";
  src: url("../assets/fonts/Hanuman-Bold.ttf");
}

@font-face {
  font-family: "KmBlack";
  src: url("../assets/fonts/Hanuman-Black.ttf");
}

@font-face {
  font-family: "KmLight";
  src: url("../assets/fonts/Hanuman-Light.ttf");
}

@font-face {
  font-family: "KmThin";
  src: url("../assets/fonts/Hanuman-Thin.ttf");
}

@font-face {
  font-family: "EngMedium";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "EngReg";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "EngSemiBold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "EngSemiLight";
  src: url("../assets/fonts/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EngReg", "KmReg";
}

body {
  width: 100%;
  height: 100%;
  background: #022059 !important;
  border-top: 3px solid #0f1899;
}